@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
}
ul{
    display: flex;
}
ul li{
    position: relative;
    list-style: none;
}
ul li a{
    text-decoration: none;
}
ul li:hover a::before{
    content: '';
    position: absolute;
    top: 1.8rem;
    left: 0.9rem;
    width: 1.25rem;
    height: 2px;
    background-color: hsl(0, 0%, 100%);
}
nav ul li a,
.left ul li a,
.right p{
    font-size: 0.9375rem;
    color: hsl(0, 0%, 100%);
    font-family: 'Alata', sans-serif;
    font-weight: 400;
}
h1,h2,
h3,h4{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
nav,
.vr-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    width: 100%;
    min-height: 37.5rem;
    background: linear-gradient(342deg, rgba(27, 26, 26, 0.87), rgba(0, 0, 0, 0.315)), url('./images/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 6.7rem;
}
nav{
    height: 3.75rem;
}
nav ul li{
    margin-left: 1.25rem;
}
header h1{
    color: hsl(0, 0%, 100%);
    font-size: 3.75rem;
    text-transform: uppercase; 
    border: 2px solid hsl(0, 0%, 100%);
    width: 37.5rem;
    padding: 2rem;
    margin-top: 7rem;
}
main{
    height: auto;
    margin: 6.7rem;
}
.vr-section{
    margin-bottom: 7rem;
}
.img-box,
.text{
    width: 50%;
    height: auto;
}
.text{
    background-color: hsl(0, 0%, 100%);
    padding: 6rem  4rem 1rem 8%;
    align-self: flex-end;
    color: hsl(0, 0%, 0%);
    transform: translateX(-2.5rem);
}
.text h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    
    margin-bottom: 1rem;
}
.text p{
    font-size: 0.9375rem;
    line-height: 1.5;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 55%);
}
.grid .heading{
    display: flex;
    justify-content: space-between;
    color: hsl(0, 0%, 0%);
    margin-bottom: 4rem;
}
.heading h3{
    text-transform: uppercase;
    font-size: 2.5rem;
}
button{
    width: 9.375rem;
    height: 2.8125rem;
    border: 1px solid hsl(0, 0%, 41%);
    background: transparent;
    text-transform: uppercase;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 0.9375rem;
    letter-spacing: 5px;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
}
.second{
    display: none;
    margin: 2rem auto;
    justify-content: center;
    align-items: center;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
}
.grid-container .card{
    position: relative;
    height: 31.25rem;
    padding: 0 0 2.2rem 3rem;
    display: flex;
    cursor: pointer;
}
.card:hover::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: hsl(0, 0%, 55%);
    mix-blend-mode: screen;
    transition: 0.5s;
}
.card h4{
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    font-size: 1.875rem;
    align-self: flex-end;
    z-index: 1;
}
.card:hover h4{
    color: hsl(0, 0%, 0%);
}
.one{
    background:linear-gradient(342deg, rgba(27, 27, 27, 0.068), rgba(0,0,0,0.10)), url('./images/desktop/image-deep-earth.jpg') no-repeat;
    background-size: cover;
}
.two{
    background: linear-gradient(342deg, rgba(27, 27, 27, 0.068), rgba(0,0,0,0.10)), url('./images/desktop/image-night-arcade.jpg') no-repeat;
    background-size: cover;
}
.three{
    background: linear-gradient(342deg, rgba(27, 27, 27, 0.068), rgba(0,0,0,0.10)), url('./images/desktop/image-soccer-team.jpg') no-repeat;
    background-size: cover;
}
.four{
    background: linear-gradient(342deg, rgba(27, 27, 27, 0.068), rgba(0,0,0,0.10)), url('./images/desktop/image-grid.jpg') no-repeat;
    background-size: cover;
}
.five{
    background: linear-gradient(342deg, rgba(27, 27, 27, 0.068), rgba(0,0,0,0.10)), url('./images/desktop/image-from-above.jpg') no-repeat;
    background-size: cover;
}
.six{
    background: linear-gradient(342deg, rgba(27, 27, 27, 0.068), rgba(0,0,0,0.10)), url('./images/desktop/image-pocket-borealis.jpg') no-repeat;
    background-size: cover;
}
.seven{
    background: linear-gradient(342deg, rgba(27, 27, 27, 0.068), rgba(0,0,0,0.10)),  url('./images/desktop/image-curiosity.jpg') no-repeat;
    background-size: cover;
}
.eight{
    background: linear-gradient(342deg, rgba(27, 27, 27, 0.068), rgba(0,0,0,0.10)), url('./images/desktop/image-fisheye.jpg') no-repeat;
    background-size: cover;
}
.main-footer{
    width: 100%;
    background-color: hsl(0, 0%, 0%);
    padding: 2rem 6.7rem;
    display: flex;
    justify-content: space-between;
}
.right{
    justify-self: left;
}
.left img,
.right ul{
    margin-bottom: 1.2rem;
}
.left ul li a{
    margin-right: 1.25rem;
}
.right ul li:hover a::before{
    content: '';
    position: absolute;
    top: 1.875rem;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: hsl(0, 0%, 100%);
}
.right ul li{
    margin-left: 1.25rem;
}
.right p{
    opacity: 0.6;
}
.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}


@media screen  and (min-width:660px) and (max-width: 1200px) {
    header h1{
        font-size: clamp(2.5rem, calc(0.5vw + 0.5rem), 3.5rem);
        width: auto;
    }
    .first{
        display: none;
    }
    .second{
       display: flex;
    }
    .heading h3{
       margin: auto;
    }
    .vr-section{
       flex-direction: column;
    }
    .img-box,.text{
        width: 100%;
    }
    .img-box img{
        width: 100%;
    }
    .text{
        transform: translateX(0);
        text-align: center;
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .main-footer{
        flex-direction: column;
        align-items: center;
    }
    .left{
       text-align: center;
       margin-bottom: 1rem;
    }
    .right ul{
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 280px) and (max-width: 650px) {
    header{
        padding: clamp(2.2rem, calc(0.5vw + 1rem), 5rem);
        background: url('./images/mobile/image-hero.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    nav{
        position: relative;
    }
    nav img{
        width: 50%;
        z-index: 10;
    }
    .menu{
        position: absolute;
        right: 0;
        background: url('./images/icon-hamburger.svg');
        background-size: 1.5rem;
        background-repeat: no-repeat;
        width: 1.5rem;
        height: 1.5rem;
        z-index: 10;
    }
    .menu.active{
        background: url('./images/icon-close.svg');
        background-repeat: no-repeat;
    }
    .nav-list{
        display: none;
    }
    .nav-list.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: hsl(0, 0%, 0%);
        flex-direction: column;
        justify-content: center;
        padding-top: 10%;
        display: flex;
    }
    .nav-list li{
        margin-bottom: 1rem;
    }
    .nav-list li a{
        text-transform: uppercase;
        font-size: 2rem;
        opacity: 0.8;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
    }
    header h1{
        width: 300px;
        font-size: clamp(2.2rem, calc(0.5vw + 1rem), 3rem);
    }
    main{
        margin: 6rem 2rem;
    }
    .first{
        display: none;
    }
    .second{
       display: flex;
    }
    .heading h3{
       font-size: 2rem;
       margin: auto;
    }
    .vr-section{
        flex-direction: column;
        margin-bottom: 0;
    }
    .img-box,.text,
    .img-box img{
        width: 100%;
    }
   .text{
        transform: translateX(0);
        text-align: center;
        padding: 2.5rem;
    }
    .text h2{
        font-size: clamp(1.5rem, calc(0.5vw + 0.7rem), 2rem);
    }
    .text p{
        font-size: 0.79rem;
    }
    .grid{
        position: relative;
        padding-top: 4rem;
    }

    .grid-container{
        grid-template-columns: 1fr;
    }
    .grid-container .card{
        height: 110px;
        padding: 0 0 0.9rem 1rem;
    }
    .card h4{
        font-size: 1.3rem;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
    }
    .one{
        background: url('./images/mobile/image-deep-earth.jpg') no-repeat;
        background-size: cover;
    }
    .two{
        background: url('./images/mobile/image-night-arcade.jpg') no-repeat;
        background-size: cover;
    }
    .three{
        background: url('./images/mobile/image-soccer-team.jpg') no-repeat;
        background-size: cover;
    }
    .four{
        background: url('./images/mobile/image-grid.jpg') no-repeat;
        background-size: cover;
    }
    .five{
        background: url('./images/mobile/image-from-above.jpg') no-repeat;
        background-size: cover;
    }
    .six{
        background: url('./images/mobile/image-pocket-borealis.jpg') no-repeat;
        background-size: cover;
    }
    .seven{
        background:  url('./images/mobile/image-curiosity.jpg') no-repeat;
        background-size: cover;
    }
    .eight{
        background: url('./images/mobile/image-fisheye.jpg') no-repeat;
        background-size: cover;
    }
    .main-footer{
        padding: 2.5rem 1.7rem;
        flex-direction: column;
        text-align: center;
    }
    .left ul{
        flex-direction: column;
    }
    .left ul li{
        margin-bottom: 1.4rem;
    }
    .right ul{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    
}